<%
// simple-links/_simple-links.ejs
// A main HTML file of "simple-links" component
//
  const Block = 'simple-links';
  const EjsRoot = '../../';
  if (typeof simpleLinksParams === 'undefined') { simpleLinksParams = {}; }
  const params = simpleLinksParams;

  let dataParams = {};
  // Un-comment below to include a component specific data
  //if (typeof params.type === 'undefined') { params.type = 'default'; }
  //include(`./_${Block}-data`);
  //dataParams = getSimpleLinksData(params.type);

  let defaults = {
    modifier: '',
    elem: 'ol',
    items: [
      {
        icon: '',
        href: '/',
        text: 'dummy'
      },
      {
        icon: '',
        href: '/',
        text: 'dummy'
      }
    ]
  };

  const p = util.init()(util, params, defaults, dataParams);
%>
<!-- <%=Block%> -->
<<%=p.elem%> class="<%=Block%><%-util.setModifier(Block, p.modifier);%>">
  <% p.items.forEach((item) => { %>
  <li class="<%=Block%>__item">
    <%-include(...util.inc(EjsRoot,'link',{modifier:`${Block}__icon ${item.icon}`, href:item.href, icon:item.icon, text:item.text, isBlank:false}));%>
  </li>
  <% }); %>
</<%=p.elem%>>
<!-- /<%=Block%> -->
