<%
// A concrete page file of "index".
  const EjsRoot = '../';
  data = Object.assign({}, sitePages['index']);
  include(`${EjsRoot}util/_util`); util = getUtil();
%><%-include(`${EjsRoot}parts/_header`);%>

<div class="page<%-util.setModifier('page','')%>">

  <div class="page__header">
    <%-include(...util.inc(EjsRoot,'site-header',{modifier:''}));%>
  </div>

  <div class="page__content">

    <div class="page-index">
    <%# Your code here. %>
    </div>

  </div>

  <div class="page__footer">
    <%-include(...util.inc(EjsRoot,'site-footer',{modifier:''}));%>
  </div>
</div>

<%-include(`${EjsRoot}parts/_footer`);%>
