<%
  const EjsRoot = '../';
  data = Object.assign({}, sitePages['dummy']);
  data.root = '../';
  data.title = 'コンポーネント一覧';

  const items = siteComponents.map((item) => {
    return {
      modifier: '',
      text: item,
      href: `${item}/index.html`,
      icon: '',
      target: ''
    }
  });
%>
<%- include(`${EjsRoot}parts/_header`); %>

<div class="page<%-util.setModifier('page','')%>">

  <div class="page__header">
    <%-include(...util.inc(EjsRoot,'site-header',{modifier:''}));%>
  </div>

  <div class="page__content">

    <ul>
      <li><a href="<%=data.root%>">ページ一覧</a></li>
    <% items.forEach((item) => { %>
      <li><a href="<%=item.href%>" target="_blank"><%=item.text%></a></li>
    <% }); %>
    </ul>

    </div>

  <div class="page__footer">
    <%-include(...util.inc(EjsRoot,'site-footer',{modifier:''}));%>
  </div>
</div>

<%- include(`${EjsRoot}parts/_footer`); %>
